@using EntityLayer.Concrete



<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-envelope fa-fw"></i>
        <!-- Counter - Messages -->
        <span class="badge badge-danger badge-counter"></span>
    </a>

    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="messagesDropdown">
   <a asp-action="Inbox" asp-controller="Message">
        <h6 class="dropdown-header">
            Mesajlarım
        </h6>
        </a>
        <a asp-action="SendMessage" asp-controller="Message">
            <h6 class="dropdown-header" style="color:aquamarine">
                Mesaj Gönder
            </h6>
        </a>
    </div>
</li>
